:root {
    --light: #98c1d9;
    --blue: #0096c7;
    --dark: #293241;
    --orange: #ee6c4d;
}

body {
    font-family: 'Archivo', sans-serif;
}

.jumbotron {
    background-image: linear-gradient(to right, var(--blue), var(--light));
    text-align: center;
    color: white;
    border-radius: 0;
}

.container-fluid {
    margin-bottom: 3rem;
    /* border: 1px solid black; */
}

.btn:hover {
    background-color: var(--blue);
}

.forecast {
    margin-top: 3rem;
}

.card {
    display: inline-block;
    margin-right: 1rem;
    background-color: var(--blue);
    color: white;
}