:root {
    --light: #98c1d9;
    --blue: #0096c7;
    --dark: #293241;
    --orange: #ee6c4d;
}

body {
    font-family: 'Archivo', sans-serif;
}

.jumbotron {
    background-image: linear-gradient(to right, var(--blue), var(--light));
    text-align: center;
    color: white;
    border-radius: 0;
}

.container {
    border: 1px solid black;
}

.btn:hover {
    background-color: var(--blue);
}